/* Abbr */

abbr.il {
  font-variant: small-caps;
  font-variant-numeric: lining-nums;
  text-transform: lowercase;
}

/* InterlinearGloss */

.interlinear p.original {
  font-style: italic;
}

.interlinear p.bottom {
  clear: left;
}

.interlinear div.box {
  float: left;
  margin-bottom: 0.3rem;
  margin-right: 0.7em;
}

.interlinear div.box p {
  margin: 0;
}

/* DefaultEditor */

.bp5-dark .jer-editor-container textarea,
.bp5-dark .jer-editor-container input {
  background-color: whitesmoke;
}

/* WeightedGroupsEditor */

.weighted-groups-editor {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.weighted-groups-editor .bp5-section-card {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem 0.25rem;
}

.weighted-groups-editor .bp5-section {
  width: fit-content;
  height: fit-content;
}

/* WeightedEditor */

.weighted-editor .bp5-control-group {
  width: fit-content;
}

.weighted-editor .bp5-input-group input {
  font-family: monospace;
  width: calc(52px + 3ch);
}

.weighted-editor .bp5-numeric-input .bp5-input-group input {
  width: calc(20px + 3ch);
}
